/* Introdução  */
.interna_produtos {
  background: url(../img/bg-contato.jpg);
  background-size: cover;
}

.form_container {
  margin: 60px 0;
}

.form {
  flex: 1 1 480px;
}

.form_btn {
  display: flex;
  flex-direction: column;
}

.form_btn input {
  height: 40px;
}

.form_btn input,
textarea {
  width: 100%;
  background-color: $second-color;
  border: 3px solid $primary-color;
}

.form_btn label {
  /* Typography */
  @include type-2(18);

  /* Positioning */
  padding: 15px 0 5px 0;

  /* Visual */
  color: $fourth-color;
}

.btn_submit {
  /* Box-model */
  width: 140px;
  height: 40px;

  /* Positioning */
  padding: 0px;
  margin-top: 20px;

  /* Visual */
  text-transform: uppercase;
  color: $primary-color;
  border: 3px solid $primary-color;
  background-color: $second-color;
  font-size: 14px;
  font-weight: bold;
}

.dados.grid-8 {
  flex: 1 1 480px;
  padding-top: 10px;
  padding-left: 75px;
  @include device(mobile) {
    padding: 30px 0 0 0;
  }
}

.dados h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $primary-color;
}

.dados p {
  font-size: 18px;
  padding-top: 5px;
  line-height: 25px;
  color: $fourth-color;
}

.dados h3 {
  @include type-2(14);
  padding-bottom: 10px;
  color: $second-color;
}

.dados_itens li {
  font-size: 14px;
  max-width: 340px;
  line-height: 20px;
  padding: 5px 0px 5px 1px;
  color: $second-color;
  @include device(mobile) {
    padding: 5px 0px 5px 7px;
  }
}

.media_container {
  margin-top: 30px;
}

.social_media {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.social_media a img {
  padding: 12px;
  border: 2px solid $primary-color;
}

.social_media a img:hover {
  padding: 10px;
  border: 4px solid $fourth-color;
}

.map {
  margin-bottom: 60px;
}
