body {
  color: #222;
  background: #faf6ed;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  margin-top: 2rem;
  grid-column: 3 / 5;
  background: #fb5;
  margin-bottom: 2rem;
}

.menu ul {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.menu li a {
  padding: 10px;
  color: #222;
  display: block;
  font-weight: bold;
  margin-right: 10px;
  font-size: 0.875rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "IBM Flex Mono", monospace;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;

  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.mapa {
  grid-column: 2;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js .scroll-ativo {
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(-30px, 0, 0);
}

.js .scroll-ativo.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.btc-preco {
  background: chartreuse;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  border-radius: 2px;
}
