/* 3- Main Header  */
.menu-bg {
  background: var(--color-lightblue-bg);
}

.menu {
  display: flex;
  margin: 0 auto;
  padding: 15px 0;
  flex-wrap: wrap;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  color: var(--color-white);
}

.menu-logo a {
  margin: 0 10px;
  font-size: 2.25em;
  font-weight: bold;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  padding: 10px;
  display: block; /* importante mudar o display do a para atribuir padding*/
  font-size: 1.25em;
  font-weight: bold;
}

.menu-nav a:hover {
  color: var(--color-darkblue-bg);
}
