/* Documentation Guide */ /* 

1- Colors Variables Settings;
1.1- background colors;
1.2- fonts colors;
1.3- basic colors;
2- First Header;
3- Main Header;
4- Main Title;
5- About Section;
6- Products Section;
7- Pricing Section;
8- Quality Section;
9- Newsletter Section;
10- Footer Section;

*/

@import "./first-header.css";
@import "./main-header.css";

/* 1- Colors Variables Settings */
:root {
  /* 1.1- background colors */
  --color-darkblue-bg: #122ab2;
  --color-lightblue-bg: #2c70ff;
  --color-lightgrey-bg: #f7f7f7;

  /* 1.2- fonts colors */
  --color-grey-font: #a4a4a4;
  --color-footer-font: #1130c2;
  --color-basic-font: #7c7c7c;

  /* 1.3- basic colors */
  --color-black: #222;
  --color-white: #fff;
  --color-purple: #ae81ff;
  --color-pink: #f9265e;
  --color-blue: #66d9eb;
}

/* 4- Main Title  */
.main-title {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* 5- About Section */
.about {
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
  flex-wrap: wrap;
  max-width: 960px;
  border-top: 2px solid var(--color-darkblue-bg);
  border-bottom: 2px solid var(--color-darkblue-bg);
}

.about-info {
  margin: 0 10px;
  flex: 2 1 300px;
}

.about-info h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.about-info p {
  line-height: 1.4;
  font-size: 1.25em;
  margin-bottom: 1em;
  color: var(--color-basic-font);
}

.about-img {
  margin: 0 10px;
  flex: 1 1 160px;
}

/* 6- Products Section */
.product {
  max-width: 960px;
  margin: 60px auto;
}

.product h2 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.product-item {
  margin: 10px;
  flex: 1 1 175px;
}

.product-item h3 {
  font-size: 3em;
  font-weight: bold;
  padding: 60px 20px;
  color: var(--color-basic-font);
  background: var(--color-lightgrey-bg);
}

.purple {
  border-top: 8px solid var(--color-purple);
}

.pink {
  border-top: 8px solid var(--color-pink);
}

.blue {
  border-top: 8px solid var(--color-blue);
}

/* 6- Pricing Section */
.pricing {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background: var(--color-lightgrey-bg);
}

.pricing-item {
  flex: 1 1 260px;
  padding: 20px;
  border: 4px solid var(--color-white);
}

.pricing-item h2 {
  font-size: 3em;
  margin-top: 20px;
  text-align: center;
  color: var(--color-basic-font);
}

.pricing-item spam {
  font-size: 3em;
  display: block;
  max-width: 300px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  padding: 10px 0 5px 0;
  border-top: 4px solid var(--color-white);
  border-bottom: 4px solid var(--color-white);
}

.pricing-item sup {
  font-size: 1.5rem;
}

.pricing-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: var(--color-basic-font);
}

.pricing-item li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.pricing-item li::after {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 50%;
  background: var(--color-lightblue-bg);
}

.pricing-item a {
  display: block;
  padding: 15px 0;
  max-width: 300px;
  margin: 20px auto;
  font-weight: bold;
  font-size: 2.25em;
  text-align: center;
  color: var(--color-black);
  text-transform: uppercase;
  border: 4px solid var(--color-black);
}

@media (max-width: 800px) {
  .pricing {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pricing .pricing-item:nth-child(3) {
    order: -2;
  }

  .pricing .pricing-item:nth-child(2) {
    order: -1;
  }
}

/* 8- Quality Section */
.quality {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 60px auto;
}

.quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.quality-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
  color: var(--color-grey-font);
}

.quality-item h2::before {
  width: 8px;
  content: "";
  height: 30px;
  margin-right: 10px;
  display: inline-block;
}

.quality-item:nth-of-type(3n + 1) h2::before {
  background: var(--color-purple);
}

.quality-item:nth-of-type(3n + 2) h2::before {
  background: var(--color-pink);
}

.quality-item:nth-of-type(3n + 3) h2::before {
  background: var(--color-blue);
}

.quality-item p {
  line-height: 1.4;
  font-size: 1.25em;
  color: var(--color-grey-font);
}

/* 9- Newsletter Section */
.newsletter {
  display: flex;
  flex-wrap: wrap;
  background: var(--color-lightgrey-bg);
  padding: 60px calc((100% - 960px) / 2);
}

.newsletter-info {
  flex: 1 1 200px;
  margin: 0 10px;
}

.newsletter-info h2 {
  font-size: 3em;
  color: var(--color-grey-font);
}

.newsletter-info p {
  max-width: 270px;
  font-size: 1.25em;
  font-style: italic;
  margin-bottom: 10px;
  color: var(--color-basic-font);
}

.newsletter-form {
  display: flex;
  margin: 0 10px;
  flex: 2 1 260px;
  flex-wrap: wrap;
  align-self: center;
}

.newsletter-form input {
  margin: 0px;
  font-weight: bold;
  padding: 15px 10px;
  flex: 3 1 260px;
  font-size: 1.25em;
  border-radius: 0%;
  font-style: italic;
  background: transparent;
  color: var(--color-basic-font);
  border: 4px solid var(--color-lightblue-bg);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.newsletter-form button {
  margin: 0;
  border: 0;
  flex: 1 1 260px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 10px;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-lightblue-bg);
  border: 4px solid var(--color-lightblue-bg);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .newsletter-info p {
    margin-bottom: 30px;
  }

  .newsletter-form button {
    font-size: 1.5em;
  }
}
