/* Introdução  */
.interna_produtos {
    background: url(../img/bg-contato.jpg);
    background-size: cover;
}

.form_container {
    margin: 60px 0;
}

.form {
    flex: 1 1 480px;
}

.form_btn {
    display: flex;
    flex-direction: column;
}

.form_btn input {
    height: 40px;
}

.form_btn input,
textarea {
    width: 100%;
    background-color: var(--color-second);
    border: 3px solid var(--color-first);
}

.form_btn label {
    /* Typography */
    font-size: 18px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', serif;

    /* Positioning */
    padding: 15px 0 5px 0;

    /* Visual */
    color: var(--color-fourth);
}

.btn_submit {
    /* Box-model */
    width: 140px;
    height: 40px;

    /* Positioning */
    padding: 10px;
    margin-top: 20px;

    /* Visual */
    text-transform: uppercase;
    color: var(--color-first);
    border: 3px solid var(--color-first);
    background-color: var(--color-second);
    font-size: 14px;
    font-weight: bold;
}

.dados.grid-8 {
    flex: 1 1 480px;
    padding-top: 10px;
    padding-left: 75px;
}

.dados h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-first);
}

.dados p {
    font-size: 18px;
    padding-top: 5px;
    line-height: 25px;
    color: var(--color-fourth);
}

.dados h3 {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
    color: var(--color-second);
    font-family: Georgia, 'Times New Roman', serif;
}

.dados_itens li {
    font-size: 14px;
    max-width: 340px;
    line-height: 20px;
    padding: 5px 0px 5px 1px;
    color: var(--color-second);
}

.media_container {
    margin-top: 30px;
}

.social_media {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.social_media a img {
    padding: 12px;
    border: 2px solid var(--color-first);
}

.social_media a img:hover {
    padding: 10px;
    border: 4px solid var(--color-fourth);
}

.map {
    margin-bottom: 60px;
}
