/* Estilos Gerais */

:root {
  /* Color Guide */
  --color-first: #fec63e;
  --color-second: #fff;
  --color-third: #000;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-first);
  border: 4px solid var(--color-first);
}

.btn:hover {
  color: var(--color-second);
  border-color: var(--color-second);
}

.btn.btn_black:hover {
  color: var(--color-third);
  border-color: var(--color-third);
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--color-third);
  text-transform: uppercase;
}

.subtitle:after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 5px auto;
  background: var(--color-third);
}
