/* Estilos Gerais */

:root {
    /* Color Guide */
    --color-first: #fec63e;
    --color-second: #fff;
    --color-third: #000;
    --color-fourth: #292929;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', serif;
}

img {
    display: block;
    max-width: 100%;
}

.header ul li a.menu_ativo {
    color: var(--color-second);
}

.btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-first);
    border: 4px solid var(--color-first);
    cursor: pointer;
}

.btn:hover {
    color: var(--color-second);
    border-color: var(--color-second);
}

.btn.btn_black:hover {
    color: var(--color-third);
    border-color: var(--color-third);
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-third);
    text-transform: uppercase;
}

.subtitle:after {
    content: '';
    width: 60px;
    height: 3px;
    display: block;
    margin: 5px auto;
    background: var(--color-third);
}

.introducao_interna {
    width: 100%;
    height: 160px;
    padding-top: 32px;
    margin-top: 92px;
    text-align: center;
    color: var(--color-second);
}

.introducao_interna p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 15px 0 25px 0;
    color: var(--color-second);
}

.subtitle_interno {
    font-size: 36px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: var(--color-second);
    text-transform: uppercase;
}

.subtitle_interno:after {
    content: '';
    width: 60px;
    height: 3px;
    display: block;
    margin: 10px auto;
    background: var(--color-second);
}
