/* Estilos Gerais */

:root {
  /* Color Guide */
  --color-first: #fec63e;
  --color-second: #fff;
  --color-third: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-first);
  border: 4px solid var(--color-first);
}
