/* Introdução  */
.interna_produtos {
  background: url(../img/bg-produtos.jpg);
  background-size: cover;
}

.produtos_item {
  padding: 60px 0;
}

.produtos_item h2 {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--color-second);
  letter-spacing: 0.1em;
  font-weight: bold;
  position: relative;
  top: -190px;
  text-align: center;
  margin-bottom: -62px;
}

.produtos_item h2::after,
.produtos_item h2::before {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 10px auto 8px auto;
  background: var(--color-second);
}

.produto_icone {
  background-color: var(--color-third);
  height: 280px;
  padding: 70px 0;
}

.produto_icone img {
  margin: 0px auto;
}

.produto_info {
  background: var(--color-third);
  color: white;
}

.produto_info p {
  padding: 40px;
  font-size: 18px;
  line-height: 25px;
}

.produto_info ul {
  display: flex;
  flex-wrap: wrap;
}

.produto_info li {
  background-color: var(--color-first);
  text-align: center;
  padding: 15px;
  flex: 1 1 200px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid black;
  color: var(--color-third);
}
