/* Estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
    .qualidade::after {
        right: 66px;
    }

    .qualidade_itens li {
        padding: 10px;
    }

    /* Footer */
    .footer_redes ul li a {
        padding: 6px;
    }

    .footer_redes ul li a img {
        width: 26px;
        height: 26px;
    }
}

/* Estilo para smartphone */
@media only screen and (max-width: 787px) {
    /* Header */
    .header {
        position: relative;
        padding-bottom: 0;
    }

    .header img {
        margin: 0 auto 10px auto;
    }

    .header_menu {
        text-align: center;
    }

    .header_menu ul li {
        margin: 5px;
    }

    .header_menu ul li a {
        border: 4px solid black;
        width: 136px;
        display: block;
        float: left;
    }

    .header_menu ul li a:hover {
        border-color: white;
    }

    .introducao {
        margin-top: 0;
        padding-top: 40px;
        background: url(../img/bg-mobile.jpg) no-repeat center;
        background-size: cover;
    }

    .introducao__title {
        font-size: 36px;
    }

    .qualidade::after {
        display: none;
    }

    .produtos,
    .portfolio,
    .qualidade {
        padding: 40px 0;
    }

    .call {
        padding-top: 10px;
    }
}
