/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  top: 0;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  background: #fec63e;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  margin-left: 25px;
  margin-top: 25px;
  display: inline-block;
}

.header_menu ul li a {
  color: #000;
  font-size: 14px;
  padding: 10px 5px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header_menu ul li a:hover {
  color: #fff;
}

/* Instrução */

.introducao {
  height: 380px;
  background: black;
}

.produtos {
  height: 380px;
  background: blue;
}
