/* Header */
.header {
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  position: fixed;
  background: var(--color-first);
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block;
}

.header_menu ul li a {
  font-size: 14px;
  padding: 10px 5px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--color-third);
  text-transform: uppercase;
}

.header_menu ul li a:hover {
  color: var(--color-second);
}

/* Instrução */
.introducao {
  width: 100%;
  height: 380px;
  margin-top: 92px;
  padding-top: 80px;
  text-align: center;
  background-size: cover;
  background: url(../img/bg.jpg) no-repeat center;
}

.introducao__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-second);
}

.quote__externo {
  max-width: 320px;
  margin: 0 auto 50px auto;
  color: var(--color-second);
}

.quote__externo p {
  font-weight: bold;
  font-style: italic;
}

.quote__externo cite {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.quote__externo p::before,
.quote__externo p::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 14px auto 10px auto;
  background: var(--color-second);
}

/* Produtos */
.produtos {
  padding: 60px 0px;
}

.produtos .subtitle {
  padding-bottom: 40px;
}

.produtos_itens li {
  text-align: center;
  background: var(--color-first);
}

.produtos_icone {
  padding: 20px;
  display: flex;
  justify-content: center;
  background: var(--color-third);
}

.produtos_itens li h3 {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.produtos_itens li h3:after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 5px auto;
  background: var(--color-third);
}

.produtos_itens li p {
  padding: 10px 20px 20px 20px;
}

.call {
  clear: both;
  padding-top: 40px;
  text-align: center;
}

.call p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

/* Portfólio */
.portfolio {
  width: 100%;
  padding: 60px 0;
  background: var(--color-third);
}

.portfolio .subtitle {
  padding-bottom: 40px;
  color: var(--color-first);
}

.portfolio .subtitle::after {
  background: var(--color-first);
}

.portfolio_itens .grid-8 {
  padding-bottom: 20px;
}

.portfolio .call p {
  padding-bottom: 9px;
  color: var(--color-second);
}
