/* Header */
.header {
  top: 0;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  background: var(--color-first);
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  margin-left: 25px;
  margin-top: 25px;
  display: inline-block;
}

.header_menu ul li a {
  color: var(--color-third);
  font-size: 14px;
  padding: 10px 5px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header_menu ul li a:hover {
  color: var(--color-second);
}

/* Instrução */
.introducao {
  width: 100%;
  height: 380px;
  margin-top: 96px;
  padding-top: 80px;
  text-align: center;
  background-size: cover;
  background: url(../img/bg.jpg) no-repeat center;
}

.introducao__title {
  color: var(--color-second);
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote__externo {
  color: var(--color-second);
  margin: 0 auto 50px auto;
  max-width: 320px;
}

.quote__externo p {
  font-weight: bold;
  font-style: italic;
}

.quote__externo cite {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.quote__externo p::before,
.quote__externo p::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  background: var(--color-second);
  margin: 14px auto 10px auto;
}
